In [2]:
import pandas as pd
import numpy as np
#handling the missing values by meqqan,median,mode
#rating by onehot encoding
#geneere by target encoding
#platform by label encoding
#user score by mean encoding

In [15]:
hari=pd.read_csv("Video_Game_Sales_as_of_Jan_2017.csv",usecols=number)
hari

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0
1,1985.0,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0
4,1996.0,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.0,7.0,NaN,NaN
17412,2007.0,0.00,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN
17413,2002.0,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN
17414,2009.0,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN
17415,2007.0,0.00,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN

In [14]:
number=columns_to_use=['Year_of_Release',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales',
 'Critic_Score',
 'Critic_Count',
 'User_Score',
 'User_Count']

In [16]:
from sklearn.impute import SimpleImputer
sim=SimpleImputer(strategy="mean")

In [17]:
hari=sim.fit_transform(hari)

In [18]:
a=pd.DataFrame(hari,columns=number)
a

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.000000,51.000000,8.000000,324.00000
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.912548,26.192059,7.117056,162.67248
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.000000,73.000000,8.300000,712.00000
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.000000,73.000000,8.000000,193.00000
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.912548,26.192059,7.117056,162.67248
...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.000000,7.000000,7.117056,162.67248
17412,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248
17413,2002.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248
17414,2009.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248
17415,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248

In [24]:
hari1=pd.read_csv("Video_Game_Sales_as_of_Jan_2017.csv",usecols=cat)
hari1

,Name,Platform,Genre,Publisher,Rating
0,Wii Sports,Wii,Sports,Nintendo,E
1,Super Mario Bros.,NES,Platform,Nintendo,NaN
2,Mario Kart Wii,Wii,Racing,Nintendo,E
3,Wii Sports Resort,Wii,Sports,Nintendo,E
4,Pokemon Red/Pokemon Blue,G,Role-Playing,Nintendo,NaN
...,...,...,...,...,...
17411,Nancy Drew: The Deadly Secret of Olde World Park,DS,Adventure,Majesco Entertainment,E
17412,Fashion Designer: Style Icon,DS,Simulation,505 Games,NaN
17413,Ashita no Joe 2: The Anime Super Remix,PS2,Fighting,Capcom,NaN
17414,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,Adventure,GungHo,NaN
17415,Brian Lara 2007 Pressure Play,PSP,Sports,Codemasters,NaN

In [19]:
cat=columns_to_use=['Name', 'Platform', 'Genre', 'Publisher', 'Rating']

In [25]:
from sklearn.impute import SimpleImputer
sem=SimpleImputer(strategy="most_frequent")

In [26]:
hari1=sem.fit_transform(hari1)

In [28]:
b=pd.DataFrame(hari1,columns=cat)
b

,Name,Platform,Genre,Publisher,Rating
0,Wii Sports,Wii,Sports,Nintendo,E
1,Super Mario Bros.,NES,Platform,Nintendo,E
2,Mario Kart Wii,Wii,Racing,Nintendo,E
3,Wii Sports Resort,Wii,Sports,Nintendo,E
4,Pokemon Red/Pokemon Blue,G,Role-Playing,Nintendo,E
...,...,...,...,...,...
17411,Nancy Drew: The Deadly Secret of Olde World Park,DS,Adventure,Majesco Entertainment,E
17412,Fashion Designer: Style Icon,DS,Simulation,505 Games,E
17413,Ashita no Joe 2: The Anime Super Remix,PS2,Fighting,Capcom,E
17414,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,Adventure,GungHo,E
17415,Brian Lara 2007 Pressure Play,PSP,Sports,Codemasters,E

In [29]:
c=pd.concat([a,b],axis=1)
c

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Name,Platform,Genre,Publisher,Rating
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.000000,51.000000,8.000000,324.00000,Wii Sports,Wii,Sports,Nintendo,E
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.912548,26.192059,7.117056,162.67248,Super Mario Bros.,NES,Platform,Nintendo,E
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.000000,73.000000,8.300000,712.00000,Mario Kart Wii,Wii,Racing,Nintendo,E
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.000000,73.000000,8.000000,193.00000,Wii Sports Resort,Wii,Sports,Nintendo,E
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.912548,26.192059,7.117056,162.67248,Pokemon Red/Pokemon Blue,G,Role-Playing,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.000000,7.000000,7.117056,162.67248,Nancy Drew: The Deadly Secret of Olde World Park,DS,Adventure,Majesco Entertainment,E
17412,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Fashion Designer: Style Icon,DS,Simulation,505 Games,E
17413,2002.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Ashita no Joe 2: The Anime Super Remix,PS2,Fighting,Capcom,E
17414,2009.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,Adventure,GungHo,E
17415,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Brian Lara 2007 Pressure Play,PSP,Sports,Codemasters,E

In [30]:
c.nunique()

Year_of_Release       43
NA_Sales             399
EU_Sales             306
JP_Sales             245
Other_Sales          157
Global_Sales         627
Critic_Score          83
Critic_Count         107
User_Score            96
User_Count           904
Name               12080
Platform              31
Genre                 12
Publisher            627
Rating                 8
dtype: int64

In [31]:
pd.get_dummies(c["Rating"],drop_first=True)

       E  E10+  EC  K-A  M  RP  T
0      1     0   0    0  0   0  0
1      1     0   0    0  0   0  0
2      1     0   0    0  0   0  0
3      1     0   0    0  0   0  0
4      1     0   0    0  0   0  0
...   ..   ...  ..  ... ..  .. ..
17411  1     0   0    0  0   0  0
17412  1     0   0    0  0   0  0
17413  1     0   0    0  0   0  0
17414  1     0   0    0  0   0  0
17415  1     0   0    0  0   0  0

[17416 rows x 7 columns]

In [32]:
c["Rating"].unique()

array(['E', 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'], dtype=object)

In [33]:
c["Rating"]=c["Rating"].map({'E':0, 'M':1, 'T':2, 'E10+':3, 'K-A':4, 'AO':5, 'EC':6, 'RP':7})

In [34]:
c

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Name,Platform,Genre,Publisher,Rating
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.000000,51.000000,8.000000,324.00000,Wii Sports,Wii,Sports,Nintendo,0
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.912548,26.192059,7.117056,162.67248,Super Mario Bros.,NES,Platform,Nintendo,0
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.000000,73.000000,8.300000,712.00000,Mario Kart Wii,Wii,Racing,Nintendo,0
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.000000,73.000000,8.000000,193.00000,Wii Sports Resort,Wii,Sports,Nintendo,0
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.912548,26.192059,7.117056,162.67248,Pokemon Red/Pokemon Blue,G,Role-Playing,Nintendo,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.000000,7.000000,7.117056,162.67248,Nancy Drew: The Deadly Secret of Olde World Park,DS,Adventure,Majesco Entertainment,0
17412,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Fashion Designer: Style Icon,DS,Simulation,505 Games,0
17413,2002.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Ashita no Joe 2: The Anime Super Remix,PS2,Fighting,Capcom,0
17414,2009.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,Adventure,GungHo,0
17415,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Brian Lara 2007 Pressure Play,PSP,Sports,Codemasters,0

In [35]:
e=c.groupby(["Genre"])["Global_Sales"].mean().sort_values().index
e

Index(['Adventure', 'Strategy', 'Puzzle', 'Simulation', 'Misc', 'Action',
       'Fighting', 'Sports', 'Racing', 'Role-Playing', 'Shooter', 'Platform'],
      dtype='object', name='Genre')

In [36]:
enumerate(e,0)

In [37]:
model={k:i for i,k in enumerate(e,0)}
model

{'Adventure': 0,
 'Strategy': 1,
 'Puzzle': 2,
 'Simulation': 3,
 'Misc': 4,
 'Action': 5,
 'Fighting': 6,
 'Sports': 7,
 'Racing': 8,
 'Role-Playing': 9,
 'Shooter': 10,
 'Platform': 11}

In [38]:
c["Genre"]=c["Genre"].map(model)

In [39]:
c

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Name,Platform,Genre,Publisher,Rating
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.000000,51.000000,8.000000,324.00000,Wii Sports,Wii,7,Nintendo,0
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.912548,26.192059,7.117056,162.67248,Super Mario Bros.,NES,11,Nintendo,0
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.000000,73.000000,8.300000,712.00000,Mario Kart Wii,Wii,8,Nintendo,0
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.000000,73.000000,8.000000,193.00000,Wii Sports Resort,Wii,7,Nintendo,0
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.912548,26.192059,7.117056,162.67248,Pokemon Red/Pokemon Blue,G,9,Nintendo,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.000000,7.000000,7.117056,162.67248,Nancy Drew: The Deadly Secret of Olde World Park,DS,0,Majesco Entertainment,0
17412,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Fashion Designer: Style Icon,DS,3,505 Games,0
17413,2002.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Ashita no Joe 2: The Anime Super Remix,PS2,6,Capcom,0
17414,2009.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,0,GungHo,0
17415,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Brian Lara 2007 Pressure Play,PSP,7,Codemasters,0

In [40]:
from sklearn.preprocessing import LabelEncoder
sim=LabelEncoder()

In [41]:
c["Platform"]=sim.fit_transform(c["Platform"])

In [42]:
c

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Name,Platform,Genre,Publisher,Rating
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.000000,51.000000,8.000000,324.00000,Wii Sports,26,7,Nintendo,0
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.912548,26.192059,7.117056,162.67248,Super Mario Bros.,11,11,Nintendo,0
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.000000,73.000000,8.300000,712.00000,Mario Kart Wii,26,8,Nintendo,0
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.000000,73.000000,8.000000,193.00000,Wii Sports Resort,26,7,Nintendo,0
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.912548,26.192059,7.117056,162.67248,Pokemon Red/Pokemon Blue,5,9,Nintendo,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.000000,7.000000,7.117056,162.67248,Nancy Drew: The Deadly Secret of Olde World Park,4,0,Majesco Entertainment,0
17412,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Fashion Designer: Style Icon,4,3,505 Games,0
17413,2002.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Ashita no Joe 2: The Anime Super Remix,16,6,Capcom,0
17414,2009.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,7.117056,162.67248,NadePro!! Kisama no Seiyuu Yatte Miro!,16,0,GungHo,0
17415,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,7.117056,162.67248,Brian Lara 2007 Pressure Play,19,7,Codemasters,0

In [43]:
e=c.groupby(["User_Score"])["Global_Sales"].mean().to_dict()
e

{0.0: 0.72,
 0.2: 0.10500000000000001,
 0.3: 0.18,
 0.5: 0.125,
 0.6: 0.060000000000000005,
 0.7: 0.05,
 0.9: 0.08,
 1.0: 0.15333333333333335,
 1.1: 0.19999999999999998,
 1.2: 0.09666666666666668,
 1.3: 0.06666666666666667,
 1.4: 0.055,
 1.5: 0.10500000000000001,
 1.6: 0.53,
 1.7: 0.13545454545454547,
 1.8: 0.22857142857142856,
 1.9: 0.6133333333333333,
 2.0: 0.2281818181818182,
 2.1: 0.38083333333333336,
 2.2: 0.27499999999999997,
 2.3: 0.05666666666666667,
 2.4: 0.18375,
 2.5: 0.37142857142857144,
 2.6: 3.508333333333333,
 2.7: 0.3685714285714286,
 2.8: 0.18791666666666665,
 2.9: 0.5589999999999999,
 3.0: 0.3670833333333334,
 3.1: 0.30909090909090914,
 3.2: 1.5476923076923077,
 3.3: 0.5142857142857143,
 3.4: 1.0675,
 3.5: 0.3939285714285714,
 3.6: 0.3141176470588235,
 3.7: 0.40549999999999997,
 3.8: 0.1653125,
 3.9: 0.43,
 4.0: 0.47580645161290325,
 4.1: 0.507,
 4.2: 0.5356666666666666,
 4.3: 0.8669444444444445,
 4.4: 0.39692307692307693,
 4.5: 0.4894285714285714,
 4.6: 0.4731578947368421,
 4.7: 0.3069230769230769,
 4.8: 0.666595744680851,
 4.9: 0.8575675675675676,
 5.0: 0.4079411764705882,
 5.1: 0.4529268292682927,
 5.2: 0.37105263157894736,
 5.3: 0.5555555555555556,
 5.4: 0.562857142857143,
 5.5: 0.5250724637681159,
 5.6: 0.4052054794520548,
 5.7: 0.5652380952380952,
 5.8: 0.42000000000000004,
 5.9: 0.5441772151898735,
 6.0: 0.4209448818897638,
 6.1: 0.6691764705882354,
 6.2: 0.4396521739130435,
 6.3: 0.9204166666666667,
 6.4: 0.6453913043478261,
 6.5: 0.6142753623188405,
 6.6: 0.7622972972972973,
 6.7: 0.5473134328358209,
 6.8: 0.5109615384615385,
 6.9: 0.6546478873239436,
 7.0: 0.4279828326180257,
 7.1: 0.627182320441989,
 7.117055655296231: 0.343149303389478,
 7.2: 0.6382872928176796,
 7.3: 0.5355882352941176,
 7.4: 0.6471621621621622,
 7.5: 0.720037037037037,
 7.6: 0.7503255813953488,
 7.7: 0.8509842519685039,
 7.8: 0.6755045871559633,
 7.9: 1.0382799999999999,
 8.0: 1.0580858085808582,
 8.1: 0.7326209677419355,
 8.2: 0.8102166064981949,
 8.3: 0.772557251908397,
 8.4: 0.9565677966101694,
 8.5: 0.9250579150579151,
 8.6: 1.0911059907834102,
 8.7: 1.0666844919786096,
 8.8: 0.7613829787234042,
 8.9: 1.1766666666666667,
 9.0: 1.1822314049586777,
 9.1: 1.1489655172413793,
 9.2: 1.1757777777777778,
 9.3: 0.6330000000000001,
 9.4: 1.345,
 9.5: 0.3575,
 9.6: 0.5366666666666666,
 9.7: 0.03}

In [44]:
c["User_Score"]=c["User_Score"].map(e)

In [45]:
c

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Name,Platform,Genre,Publisher,Rating
0,2006.0,41.36,28.96,3.77,8.45,82.54,76.000000,51.000000,1.058086,324.00000,Wii Sports,26,7,Nintendo,0
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.912548,26.192059,0.343149,162.67248,Super Mario Bros.,11,11,Nintendo,0
2,2008.0,15.68,12.80,3.79,3.29,35.57,82.000000,73.000000,0.772557,712.00000,Mario Kart Wii,26,8,Nintendo,0
3,2009.0,15.61,10.95,3.28,2.95,32.78,80.000000,73.000000,1.058086,193.00000,Wii Sports Resort,26,7,Nintendo,0
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.912548,26.192059,0.343149,162.67248,Pokemon Red/Pokemon Blue,5,9,Nintendo,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17411,2007.0,0.00,0.00,0.00,0.00,0.01,64.000000,7.000000,0.343149,162.67248,Nancy Drew: The Deadly Secret of Olde World Park,4,0,Majesco Entertainment,0
17412,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,0.343149,162.67248,Fashion Designer: Style Icon,4,3,505 Games,0
17413,2002.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,0.343149,162.67248,Ashita no Joe 2: The Anime Super Remix,16,6,Capcom,0
17414,2009.0,0.00,0.00,0.01,0.00,0.01,68.912548,26.192059,0.343149,162.67248,NadePro!! Kisama no Seiyuu Yatte Miro!,16,0,GungHo,0
17415,2007.0,0.00,0.00,0.00,0.00,0.01,68.912548,26.192059,0.343149,162.67248,Brian Lara 2007 Pressure Play,19,7,Codemasters,0